body {
  margin: 0;
  font-family: "Noto Sans SC", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fly-box {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 23px -5px;
  background-color: white;
}
.background-image-none {
  background-image: none !important;
}

.bg-blue {
  background-color: #22aeffc9 !important;
}
.bg-blue:hover {
  background-color: #22aeff !important;
}
.color-blue {
  color: #22aeffc9 !important;
}
.error-color {
  color: #ff004ecc;
}
.color-pink {
  color: #ff004ecc;
}
.color-red {
  color: #dc3545;
}
.form-control.is-invalid {
  border-color: #ff004ecc !important;
}
.form-control.is-invalid ~ .invalid-feedback {
  color: #ff004ecc !important;
}
.button-custom {
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
}
.button-custom:hover {
  background-color: #07a4ffc9 !important;
}
.hr-custom {
  max-width: 90%;
}
.hr-left-custom {
  max-width: 90%;
  margin-left: 5px;
}
