div.dropdown-menu[role="client-header-dropdown-menu"] {
  right: 0 !important;
  left: auto;
  border-radius: 0;
}
div.dropdown-menu[role="client-header-dropdown-menu"] a {
  color: #555 !important;
}
div.dropdown-menu[role="client-header-dropdown-menu"] a:hover {
  background-color: #007bffaa !important;
}
div.dropdown-menu[role="client-header-dropdown-menu"] a.active {
  background-color: #007bffaa !important;
}

a.client-header-dropdown-toggle {
  color: white !important;
}

nav.client-header {
  /* background-color: #007bffc9 !important; */
  background-color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 22px -5px;
}

nav.client-header a {
  transition: all 0.5s;
  padding: 10px !important;
  /* color: black !important; */
  font-weight: 500 !important;
  color: #999 !important;
}
nav.client-header a:hover {
  /* color: black !important; */
  /* background-color: #a8c9ec !important; */
  background-color: #007bffc9 !important;
  color: #fff !important;
}

a.client-header-brand {
  /* color: white !important; */
  font-size: 16px;
}
